.menu{
    display: flex;
    justify-content: space-between;
    background-color: #000000;
    padding: 20px;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 400;
    color: white;
}
body{
    margin: 0px;
    background-color:#f7f2f2;
    background-image: url(main2.jpg)
    
}
a{
    text-decoration :none
}
a:link{
    color:#ffffff;
}

/*a:old*/
/*a:clicked*/
/*a:seen{*/
a:visited{
    color: #ffffff;
}

.bodyimg{
    position: relative;
}
.bodyimg p{
    color:#f7f2f2;
    font-size: 42px;
    font-family: fantasy;
    position: absolute;
    top:10%;
    left:50%;
    transform: translate(-50%,-50%);
}
.bodyimg h5{
    color:#f7f2f2;
    font-family: Algerian;
    font-size: 24px;
    width: 1600px;
    position:relative;
    text-align: center;
    top:40%;
    right:-50%;
    transform: translate(-40%, -40%);
}
.grid{
    background: darkred;
    background-color: #F0F8FF;
    display: flex;
    justify-content: first baseline ;
    flex-direction: row;
    text-align: top;
    flex-wrap: wrap;
    background-image: url(main2.jpg)
}
.grid img{
    border: 2px solid black;
    border-radius: 50px;
}
.origami {
    
    border-radius: 20px;
    background-color: #ffffff;
    padding: 30px;
    margin: 25px;
    width:310px;
    font-family: fantasy;
    
}

.origami:hover{
/*.origami : mouseover{*/
/*.origami:link{*/
/*origami:hover{*/

    transform: scale(1.2);
}